<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.cba.stawrocek" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LetsMeet</name>
    <description>
        Let's Meet is my approach to apki.org smart city hackathon.
		P.S. google maps js api rocks!
		P.S. vol. 2 cordova rocks too!
    </description>
    <author email="stawrocek@gmail.com" href="http://github.com/stawrocek">
        stawrocek
    </author>
    <content src="transportGPSView.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.2.2" />
</widget>
